.p-header-frame {
  background-color: #ffffff;
  overflow: hidden;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.p-header {
  table-layout: fixed;
  position: relative;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #333333;
}

.p-header-col {
  border-right: 1px solid #dddddd;
  padding: 7px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #333333;
  font-weight: normal;
}

.p-header-col:hover {
  background-color: #e8e8e8;
  color: #333333;
}
